[Locations]
# Path to loadout config from this file
looks_config = appearance.cfg
# Path to python file from this file
python_file = agent.py
# Name that will be displayed in game
name = ShenBot

[Details]
# These values are optional but useful metadata for competition.
# Developer of the bot
developer = Yuujii
# Short description of the bot
description = A Rocket League bot trained using RLGym 2.0 and PPO.
# Fun fact about the bot
fun_fact = yuh
# Programming language
programming_language = python
